* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
       /* background: linear-gradient(120deg, #a1c4fd 0%, #d63384 100%);
    animation: BackgroundSlide 10s ease infinite; */

    background-color:plum;
 
}


header {
    background: linear-gradient(120deg, #a1c4fd 0%, #d63384 100%);
    animation: BackgroundSlide 10s ease infinite;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color:darkblue;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    display: inline-block;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: pink;
    transition: width .4s ease;
}

a:hover::after {
    width: 100%;
    left: 0;
    background-color: black;
}

main {
    padding: 20px;
    background: linear-gradient(120deg, #a1c4fd 0%, #d63384 100%);
    animation: BackgroundSlide 10s ease infinite;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-height: 65vh;
}

h1, h2 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

.presentation, .competences, .projets {
    margin-top: 20px;
}

.skill {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.skill:hover {
    transform: scale(1.1); /* Agrandit l'élément */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #d63384; /* Change la couleur de fond lors du survol */
}

.competences {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.projets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}


.project {
    background-color: #e9ecef;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project:hover {
    transform: scale(1.1); /* Agrandit l'élément */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: #d63384; /* Change la couleur de fond lors du survol */
}
.front{
    margin: 10%;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(120deg, #a1c4fd 0%, #d63384 100%);
    animation: BackgroundSlide 10s ease infinite;
    color: darkblue;
    margin-top: 20px;
}

.alternatif {
    margin-top: 90px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    /* min-height: 100vh;  */
    flex-wrap: wrap; 
    /* background: url('path/to/your/image.jpg') no-repeat center center; */
    background-size: cover; 
    
}
/* main .alternatif {
    background: linear-gradient(120deg, white 0%, pink 100%);
    animation: BackgroundSlide 10s ease infinite;
} */
/* main p { 
    background: linear-gradient(120deg, plum 0%, pink 100%);
    animation: BackgroundSlide 10s ease infinite;} */
.circle-link {
    background: linear-gradient(120deg, purple 0%, lightpink 100%);
    animation: BackgroundSlide 10s ease infinite;
    color: white; 
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    font-size: 16px; 
    transition: transform 0.3s, background-color 0.3s; 
    text-decoration: none; 
}

.circle-link:hover {
    transform: scale(1.1);
    background-color: #d63384; 
}
.flip-card-back, .project-description, .project-features, .project-prerequisites, .project-results {
    overflow: auto;  /* Ajoute un défilement si le contenu déborde */
    word-wrap: break-word;  /* Assure que les mots trop longs ne dépassent pas */
}

.project-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* S'adapte à la largeur des colonnes pour éviter le débordement */
}


.project-description, .project-features, .project-prerequisites, .project-results {
    background-color: #d63384; /* Couleur de fond pour chaque div */
    border: 1px solid #ccc; /* Bordure autour de chaque div */
    padding: 10px; /* Padding à l'intérieur de chaque div */
    border-radius: 5px; /* Bordures arrondies */
}

.project-features ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut de la liste */
}

.flip-card {
    background-color: transparent;
    width: 300px;  /* Ajuste cette valeur selon tes besoins */
    height: 200px;  /* Ajuste cette valeur selon tes besoins */
    perspective: 1000px;  /* Donne l'effet de profondeur */
    margin: 10px;  /* Espacement entre les cartes */
    align-items: center;
    text-align: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.flip-card-front {
    background-color: #d63384;  /* Couleur de fond de la face avant */
    color: white;  /* Couleur du texte de la face avant */
    font-size: 20px;  /* Taille du texte */
    border: 1px solid #ccc;  /* Bordure optionnelle */
}

.flip-card-back {
    background-color: #f0f0f0;  /* Couleur de fond de la face arrière */
    color: black;  /* Couleur du texte de la face arrière */
    transform: rotateY(180deg);
    line-height: 1.6;  /* Espacement des lignes pour améliorer la lisibilité */
    font-size: 16px;  /* Taille du texte */
}
main.animated-page h2{
   
    font-size: 50px;
}
input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white; /* Couleur de fond pour une meilleure lisibilité */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
    border-color: #d63384; /* Met en évidence le champ actif */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(214, 51, 132, 0.6);
}

input[type="submit"] {
    display: block; /* Rend le bouton un bloc pour permettre le centrage */
    margin: 20px auto; /* Centre le bouton horizontalement avec une marge automatique */
    background-color: #d63384;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #a1c4fd;
}


form {
    width: 50%; /* Limite la largeur du formulaire à 50% de la largeur de l'écran */
    margin: 50px auto; /* Centre le formulaire verticalement et horizontalement */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #ffffff; /* Assure que le fond est bien blanc pour le contraste */
    animation: BackgroundSlide 10s ease infinite;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    form {
        width: 80%; /* Augmente la largeur du formulaire pour les écrans plus petits */
    }
}

@media (max-width: 480px) {
    form {
        width: 90%; /* Augmente la largeur du formulaire pour les très petits écrans */
    }
}

/* .add-project-link a, .add-comp-link a {
 
    display: block;
    width: max-content;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.add-project-link a:hover, .add-comp-link a:hover{
    background-color: #45a049;
} */
/* .add-project-link , .add-comp-link {
 
    display: block;
    width: max-content;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

}

.add-project-link :hover, .add-comp-link :hover{
    background-color: #45a049;
} */
/* .container-btn{
    display:flex;
    align-items: center;
    column-gap: 20px;
} */

.admin-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.admin-column {
    flex: 1; /* Chaque colonne prend une part égale de l'espace */
    margin: 0 10px; /* Ajoute un peu d'espace entre les colonnes */
    padding: 20px;
    background-color: #f0f0f0; /* Couleur de fond pour chaque colonne */
    border-radius: 8px; /* Bords arrondis pour les colonnes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre subtile pour la profondeur */
}

.projects-column, .skills-column {
    min-width: 200px; /* Minimum width to prevent too much shrinkage on smaller screens */
}

.creation-column {
    min-width: 150px;
}

/* Styles supplémentaires pour la liste */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f8d7da;
    color: #721c24;
    opacity: 1;
    animation: fadeOut 10s 5s forwards;
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }
}



/* Style pour un lien hypertexte classique */
.projets-section a {
    color: #007BFF; /* Bleu standard pour les liens */
    text-decoration: underline; /* Soulignement pour indiquer qu'il s'agit d'un lien */
}

.projets-section a:hover {
    color: #0056b3; /* Bleu plus foncé au survol */
    text-decoration: none; /* Optionnel: enlever le soulignement au survol */
}




/* 404 */

#page_404 h1{
    font: size 50px;
    margin-bottom: 10px;
}

#page_404 div {
    text-align: center;
}

#page_404  {
    display: flex;
    justify-content: center;
    align-items: center;
}


