{% extends "base.html" %}
{% block main %}
    <div class="admin-container">
        <div class="admin-column projects-column">
            <h3>Projets</h3>
            <ul>
                {% for projet in projets %}
                <li>{{ projet.titre }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="admin-column skills-column">
            <h3>Compétences</h3>
            <ul>
                {% for competence in competences %}
                <li>{{ competence.titre }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="admin-column creation-column">
            <h3>Actions</h3>
            <a class="add-project-link" href="{{ url_for('creer_projet') }}">Ajouter un nouveau projet</a>
            <a class="add-project-link" href="{{ url_for('creer_competences') }}">Ajouter une nouvelle compétence</a>
        </div>
    </div>
{% endblock %}
