{% extends "base.html" %}

{% block main %}
    <section class="alternatif">
        <a class="circle-link" href="/">Accueil</a>
        <a class="circle-link" href="presentation">Présentation</a>
        <a class="circle-link" href="competences">Compétences</a>
        <a class="circle-link" href="projets">Projets</a>
    </section>
{% endblock %}
