<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/blog.css")}}">
</head>
<body>
    <header>
        <h1>Blog </h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/presentation">Présentation</a>
            <a href="/competences">Compétences</a>
            <a href="/projets">Projets</a>
            <a href="/log">Admin</a>
           
        </nav>
    </header>
<main>
{% block main %}
{% endblock %}
</main>
    <footer id="contact-section">
        <p>© 2024 MonSiteWeb.com</p>
    </footer>
</body>
</html>
