{% extends "base.html" %}

{% block main %}
<main>
    <section class="presentation">
        <h2>Présentation</h2>
        <p>Bienvenue sur le blog de Sadia, une passionnée d'ingénierie informatique à Polytechnique Montréal.
            Il est une vitrine de mes compétences techniques et des <a href="#projets-section"> projets personnels</a>  sur lesquels j'ai travaillé durant mes études. 
            Vous y trouverez des démonstrations pratiques de mes <a href="#competences-section">capacités</a> en programmation, analyse de protocoles, et bien plus. 
    </section>

    <section class="competences" id="competences-section">
        <h2>Compétences</h2>
        <div class="skill"><u><b>Serveur, analyseur de protocoles:</b></u> DHCP, DNS, WildPackets OmniPeek</div>
        <div class="skill"><u><b>Programmation et/ou calculs:</b></u> Matlab, Python, C/C++, Java, JavaScript, TypeScript, Html, CSS, Assembleur, SQL, Scratch.</div>
        <div class="skill"><u><b>Cadriciel, plateforme logicielle/déploiement, bibliothèque </b></u>:  Angular, NestJS, Express, NodeJS, React, Socket.IO, Turtle, MongoDb Atlas, AWS, GitLab Pages, Flask.</div>
        <div class="skill"><u><b>Ebergeur/Protocoles:</b></u> GitHub, GitLab, HTTP, WebSockets, TCP/IP, UDP, RDP, Ethernet, IEEE 802.3.</div>
        <div class="skill"><u><b>Éditeurs de codes, suite office, circuit intégré, cartes utilisées :</b></u>  Vscode, Visual studio, IntelliIj, Eclipse, Word, Excel, Vivado, PowerPoint, PostgreSQL, FPGA, PYNQ-Z2, basys3.</div>
        <div class="skill"><u><b>Environnement de travail/systèmes d’exploitation : </b></u> Linux, Windows.</div>
        <div class="skill"><u><b>Infographie :</b></u> modèles (géométriques, graphiques), pipeline graphique programmable.</div>
    </section>

    <section class="projets" id="projets-section">
        <h2>Projets</h2>
        <div class="project">
            <a  class ="front" href="https://gitlab.com/pink-projects/bloc_1">Graphe prix de stock</a>
            <p class="back">Utilisation de Python et de la bibliothèque Turtle pour créer des graphiques interactifs à partir de données boursières, comme celles d'Amazon.</p>
        </div>
        <div class="project">
            <a class ="front" href="https://gitlab.com/pink-projects/assistant-vocal">Assistant vocal</a>
            <p>Script en Python exploitant l'API OpenWeatherMap pour fournir des bulletins météo vocaux pour Montréal.</p>
        </div>
        <div class="project">
            <a class ="front" href="https://gitlab.com/pink-projects/detecteur-de-visages">Détecteur de visages</a>
            <p class="back">Projets impliquant la reconnaissance faciale et la permutation de visages dans les images, utilisant des scripts Python avancés.</p>
        </div>
        <div class="project">
            <a class ="front" href="https://gitlab.com/pink-projects/blog">Blog</a>
            <p class="back">présent projet</p>
        </div>
        <div class="project">
            <a class ="front" href="https://gitlab.com/pink-projects">Plus de projets</a>
        </div>
    </section>
</main>

{% endblock %}