{% extends "base.html" %}

{% block main %}

<section class="competences" id="competences-section">
    <h2>Compétences</h2>
    {% for competence in competences %}
    <div class="skill"><u><b>{{competence.titre}}</b></u> {{competence.list}}</div>
    {% endfor %}
</section>

{% endblock %}