{% extends "base.html" %}

{% block main %}
    <section class="log">
        <h1>Créer une compétence</h1>
        <form method="post" action="{{url_for('creer_competences')}}" >
            <label for="titre">Titre</label>
            <input required id="titre" type="text" name="titre">
            <label for="slug">Slug</label>
            <input required id="slug" type="text" name="slug">

            <label for="list">Liste</label>
            <input required id="list" type="text" name="list">

            <input type="submit" value="Ajouter compétence">

        </form>
    </section>
{% endblock %}