{% extends "base.html" %}

{% block main %}

    <section class="log">
        <h1>Créer un projet</h1>
        <form method="post" action="{{url_for('creer_projet')}}" enctype="multipart/form-data">
            <label for="titre">Titre</label>
            <input required id="titre" type="text" name="titre">
            <label for="slug">Slug</label>
            <input required id="slug" type="text" name="slug">


            <label for="url">Url</label>
            <input required id="url" type="text" name="url">

            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>

            <label for="fonctionnalites">Fonctionnalites</label>
            <textarea name="fonctionnalites" id="fonctionnalites"></textarea>

            <label for="prerequis">Prerequis</label>
            <textarea name="prerequis" id="prerequis"></textarea>

            <label for="images">Images</label>
            <input  id="images" type="file" name="images" accept="image/*">

            <input type="submit" value="Ajouter projet">
        </form>
    </section>

{% endblock %}