{% extends "base.html" %}

{% block main %}
    <section class="log">
        <h1>Page de login</h1>
        {#affichage message de connexion#}
        {% with messages = get_flashed_messages(category_filter=['error']) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{url_for('login')}}">
            <label for="username">Utilisateur</label>
            <input required id="username" type="text" name="username">
            <label for="password">Mot de passe</label>
            <input required id="password" type="password" name="password">
            <input type="submit" value="Se connecter">
        </form>
    </section>
{% endblock %}
