{% extends "base.html" %}

{% block main %}

    <section class="presentation">
        <h2>Présentation</h2>
        <p>Bienvenue sur le blog de Sadia, une passionnée d'ingénierie informatique à Polytechnique Montréal.
            Il est une vitrine de mes compétences techniques et des <a href="projets">projets personnels</a> sur lesquels j'ai travaillé durant mes études. 
            Vous y trouverez des démonstrations pratiques de mes <a href="competences">capacités</a> en programmation, analyse de protocoles, et bien plus. 
    </section>

{% endblock %}