{% extends "base.html" %}

{% block main %}
<main class="animated-page">
    <section id="page-projet" class="animated-section">
        <div>
            <h2><a class="front animated-link" href="{{ projet.url }}">{{ projet.titre }}</a></h2>
            <div class="project-info">

                {# Flip Card pour la Description #}
                {% if projet.description %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <u><b>Description:</b></u>
                        </div>
                        <div class="flip-card-back">
                            <p>{{ projet.description }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# Flip Card pour les Fonctionnalités #}
                {% if projet.fonctionnalites %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <u><b>Fonctionnalités:</b></u>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <div>{{ projet.fonctionnalites }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# Flip Card pour les Prérequis #}
                {% if projet.prerequis %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <u><b>Prérequis:</b></u>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <div>{{ projet.prerequis }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {# Flip Card pour les Exemples de résultats #}
                {% if projet.images %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <u><b>Exemples de résultats:</b></u>
                        </div>
                        <div class="flip-card-back">
                            <div>
                                <img class="back" src="{{ url_for('static', filename='images/' + projet.images) }}" alt="Description de l'image" width="100" height="100">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
