{% extends "base.html" %}

{% block main %}
    <section class="projets" id="projets-section">
        <div class="container-btn">
            <h2>Projets</h2>
            <a href="https://gitlab.com/pink-projects">Plus de projets</a>
        </div>
        {% for projet in projets %}
        <div class="project">
            <a class="front" href="{{ url_for('projets', slug=projet.slug) }}">{{ projet.titre }}</a>
            <p class="back">{{ projet.description }}</p>
            <img class="back" src="{{ url_for('static', filename='images/' + projet.images) }}" alt="Description de l'image" width="100" height="100">
            <span>{{ projet.date.date() }}</span>
        </div>
        {% endfor %}

    </section>

{% endblock %}
